<div class="ui text container aligned">
  <div class="ui segments">
    <div class="ui large form segment">
      <h3 class="ui header">Send a message</h3>

      <div class="field">
        <label for="recipients">Recipients:</label>
        <sui-multi-select class="fluid"
                          id="recipients"
                          [(ngModel)]="selectedOptions"
                          [options]="recipients"
                          displayField="name"
                          [isSearchable]="true"
                          [maxSelected]="5"
                          #searchSelect>

          <sui-select-option *ngFor="let option of searchSelect.availableOptions" [value]="option"></sui-select-option>
        </sui-multi-select>
      </div>

      <div class="field">
        <label for="message">Message text:</label>
        <textarea name="" id="message" cols="30" rows="10" #messageText></textarea>
      </div>

      <div class="ui segment">
        <div *ngIf="loading">loading...</div>
        <button type="button" (click)="makeRequest()" class="ui positive right floated button">Send</button>
        <pre>{{data | json}}</pre>
      </div>
    </div>
  </div>
</div>







